publication/AppOptics/SphericalAberrationInSilicon.aux
publication/AppOptics/SphericalAberrationInSilicon.blg
publication/AppOptics/SphericalAberrationInSilicon.log
publication/AppOptics/SphericalAberrationInSilicon.pdf
publication/AppOptics/SphericalAberrationInSilicon.synctex.gz
publication/AppOptics/figures/20xair.pdf
publication/AppOptics/figures/20xairExotic.pdf
publication/AppOptics/figures/50xPolarization.pdf
publication/AppOptics/figures/50xSi.pdf
publication/AppOptics/figures/688um-1827um.tif
publication/AppOptics/figures/C240TME-C.pdf
publication/AppOptics/figures/LA1951air.pdf
publication/AppOptics/figures/New Compression.zip
publication/AppOptics/figures/PropagationImaging.png
publication/AppOptics/figures/setup.pdf
publication/AppOptics/figures/setup.psd
publication/AppOptics/figures/setup.tif
publication/AppOptics/figures/stack.tif
publication/AppOptics/figures/vectorDiffractionTheory.pdf
publication/AppOptics/fullrefs.aux
publication/AppOptics/jabbrv-ltwa-all.ldf
publication/AppOptics/jabbrv-ltwa-en.ldf
publication/AppOptics/jabbrv.sty
publication/AppOptics/latexmkrc
publication/AppOptics/legacy-styles/ao.sty
publication/AppOptics/legacy-styles/aop.sty
publication/AppOptics/legacy-styles/josaa.sty
publication/AppOptics/legacy-styles/josab.sty
publication/AppOptics/legacy-styles/ol.sty
publication/AppOptics/legacy-styles/optica.sty
publication/AppOptics/legacy-styles/pr.sty
publication/AppOptics/osajnl.bst
publication/AppOptics/osajnl.cls
publication/AppOptics/osajnlnt.bst
publication/AppOptics/SphericalAberrationInSilicon.aux
publication/AppOptics/SphericalAberrationInSilicon.bbl
publication/AppOptics/SphericalAberrationInSilicon.blg
publication/AppOptics/SphericalAberrationInSilicon.dvi
publication/AppOptics/SphericalAberrationInSilicon.fdb_latexmk
publication/AppOptics/SphericalAberrationInSilicon.fls
publication/AppOptics/SphericalAberrationInSilicon.log
publication/AppOptics/SphericalAberrationInSilicon.out
publication/AppOptics/SphericalAberrationInSilicon.pdf
publication/AppOptics/SphericalAberrationInSilicon.synctex.gz
publication/AppOptics/SphericalAberrationInSilicon.tex
publication/AppOptics/styles/ao.sty
publication/AppOptics/styles/aop.sty
publication/AppOptics/styles/boe.sty
publication/AppOptics/styles/josaa.sty
publication/AppOptics/styles/josab.sty
publication/AppOptics/styles/oe.sty
publication/AppOptics/styles/ol.sty
publication/AppOptics/styles/ome.sty
publication/AppOptics/styles/optica.sty
publication/AppOptics/styles/osac.sty
publication/AppOptics/styles/osajournal.sty
publication/AppOptics/figures
publication/AppOptics/.DS_Stores
.DS_Store
.vscode
